$white: #ffffff
$blue: #7FC9F0
$black-blue: #223540
$sea: #446B80
$pink1: #ECC7C1
$pink2: #FDF6EF
$pink3: #DFC6B3

@mixin montserrat-white
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  font-style: normal
  font-weight: 400
  line-height: 100%
  font-size: 18px
  color: $white
  letter-spacing: .05em

@mixin montserrat-sea
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  font-style: normal
  font-weight: 400
  line-height: 100%
  font-size: 18px
  color: $sea
  letter-spacing: .05em

@mixin montserrat-blue
  font-family: "Montserrat", sans-serif
  font-optical-sizing: auto
  font-style: normal
  font-weight: 400
  line-height: 18px
  font-size: 18px
  color: $blue

@mixin balsamiq-sea
  font-family: 'Balsamiq Sans', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 22px
  color: $sea

*,
*::after,
*::before
  box-sizing: border-box

body
  overflow-x: hidden

a
  text-decoration: none
  transition: .3s
  &:hover
    opacity: 70%

li
  list-style: none

button
  padding: 0
  background: none
  border: none
  cursor: pointer

img
  max-width: 100%

.section
  margin-bottom: 120px
  &__title
    margin: 0
    @include balsamiq-sea
    font-size: 80px
    line-height: 88px
    width: 100%

.container
  max-width: 1496px
  width: 100%
  display: flex
  margin: 0 auto
  padding: 0 20px

.column
  flex-direction: column
  &__title
    display: inline-block
    width: 100%
    text-align: center
    margin-bottom: 64px

.button
  background-color: $blue
  border: none
  border-radius: 12px
  display: flex
  align-items: center
  justify-content: center
  padding: 0
  @include montserrat-white
  line-height: 24px
  cursor: pointer
  outline: none
  transition: .3s

  &:hover
    opacity: 70%

.header
  padding-top: 17px
  width: 100%
  background-color: rgba(236, 199, 193, .16)

  &__top
    width: 100%
    border-bottom: 1px solid rgba(34, 53, 64, .08)

  &-top
    width: 100%
    display: flex
    align-items: center
    padding-bottom: 15px
    position: relative
  &-bottom
    width: 100%
    padding: 16px 0
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    margin-right: 44px
  &__link
    @include montserrat-sea
    line-height: 24px
    display: flex
    align-items: center
    &::before
      content: ""
      display: inline-block
      width: 24px
      height: 24px
      background-repeat: no-repeat
      background-size: cover
      margin-right: 12px
  &__catalog-btn
    margin-right: 24px
  &__autorization-btn
    margin-right: 80px
    margin-left: auto

.catalog-btn
  width: 223px
  height: 48px
  gap: 11px

  &_open
    &::after
      content: ""
      display: inline-block
      width: 24px
      height: 24px
      background-image: url(../images/catalog-btn_open.svg)
      background-repeat: no-repeat
      background-size: cover

  &_close
    background-color: $sea
    &::after
      content: ""
      display: inline-block
      width: 24px
      height: 24px
      background-image: url(../images/catalog-btn_close.svg)
      translate: 0.3s
      background-repeat: no-repeat
      background-size: cover

    &:hover::after
      transform: rotate(45deg)

  &-bottom
    display: flex

.search
  display: flex
  height: 48px
  max-width: 470px
  width: 100%
  input
    border: none
    outline: none
    background-color: rgba(34, 53, 64, 0)
    flex-grow: 1
    padding: 0 24px 0 0
    @include montserrat-sea

    &::placeholder
      @include montserrat-sea
      line-height: 24px
      opacity: 64%

  &__input
    display: flex
    align-items: center
    border-radius: 12px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    flex-grow: 1
    background-color: rgba(34, 53, 64, .04%)
  &__img
    width: 24px
    height: 24px
    margin: 0 24px
  &__btn
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    width: 108px

.autorization-btn
  &::before
    background-image: url(../images/autorization-link.svg)

.basket-link
  &::before
    background-image: url(../images/basket.svg)

.title
  @include balsamiq-sea
  letter-spacing: .02em
  max-width: 164px

.nav
  &__list
    display: flex
    gap: 40px
  &__link
    @include montserrat-sea

.location
  @include montserrat-sea
  display: flex
  align-items: center
  line-height: 24px
  &::before
    content: ''
    display: inline-block
    width: 24px
    height: 24px
    margin-right: 12px
    background-image: url(../images/map-pin.svg)
  &__link
    @include montserrat-blue

.cover
  display: flex
  width: 100%
  background-color: rgba(236, 199, 193, .16)
  padding-bottom: 65px
  &__content
    margin-right: 56px
  &__title
    margin: 114px 0 32px 0
    max-width: 650px
  &__text
    @include montserrat-sea
    font-size: 24px
    margin-bottom: 48px
    max-width: 442px
  &__button
    width: 140px
    height: 48px
  &__img
    max-width: 646px
    position: relative
    margin-top: 30px
  &__img-container
    position: relative
    &::before
      content: ''
      display: block
      width: 1074px
      height: 735px
      background-image: url(../images/cover-bg.svg)
      background-size: cover
      background-repeat: no-repeat
      position: absolute
      left: -230px

.promo-cards
  display: flex
  gap: 24px
  flex-wrap: wrap
  margin: 0 auto

.link-buy
  @include montserrat-blue

.promo
  &__card
    display: flex
    height: 360px
    width: 716px
    padding: 28px
    border-radius: 12px
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04)
    position: relative

  &__title
    max-width: 264px
    margin-bottom: 24px
    @include balsamiq-sea
    font-size: 18px
    line-height: 28px

  &__buttons
    margin-top: 48px
    display: flex
    gap: 24px
    align-items: center

  &__buy
    @include montserrat-sea

  &__img
    max-width: 290px
    max-height: 290px

.price
  @include montserrat-blue
  font-size: 24px
  line-height: 32px
  font-weight: 600
  &::after
    content: ""
    display: inline-block
    width: 11px
    height: 18px
    margin-left: 8px
    background-image: url(../images/price.svg)
    background-size: cover
    background-repeat: no-repeat

.basket-btn
  width: 146px
  height: 48px

.like-btn
  height: 24px
  width: 24px
  transition: .3s
  background-image: url(../images/heart.svg)
  position: absolute
  top: 24px
  right: 24px
  &:hover
    opacity: 70%

.pop-categories
  &__cards
    display: flex
    width: 100%
    gap: 20px
    flex-wrap: wrap
  &__card
    width: 470px
    height: 360px
    padding: 48px 64px
    display: flex
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04)
    border-radius: 12px
    owerflow: hidden
    &:nth-child(1n)
      background-color: rgba(243, 219, 215, 1)
    &:nth-child(2n)
      background-color: $pink2
    &:nth-child(3n)
      background-color: rgba(229, 244, 252, 1)
    &:nth-child(4n)
      background-color: rgba(68, 107, 128, .2)

  &__card-info
    display: flex
    flex-direction: column
  &__card-title
    display: inline-block
    max-width: 150px
    @include montserrat-sea
    font-size: 24px
    line-height: 32px
    font-weight: 700
    margin-bottom: 16px
  &__card-descr
    max-width: 130px
    @include montserrat-sea
    flex-grow: 1
  &__link-see
    display: flex
    align-items: center
    justify-content: center
    @include montserrat-sea
    width: 122px
    height: 48px
    border: 1px solid $sea
    border-radius: 12px
    background-color: rgba(68, 107, 128, 0)
    color: $sea

  &__card-img
    max-width: 300px
    max-height: 100%

.cards
  display: flex
  gap: 24px

.card
  display: flex
  flex-direction: column
  align-items: center
  width: 346px
  height: 510px
  padding: 24px
  position: relative
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04)

  &__img
    max-width: 274px
    height: 240px
    margin-bottom: 24px
  &__title
    @include balsamiq-sea
    font-size: 18px
    line-height: 28px
    margin-bottom: 8px
    max-width: 234px
    text-align: center
  &__basket-btn
    margin-top: 24px
    margin-bottom: 16px
  &__price-container
    display: flex
    align-items: center
  &__price-old
    @include montserrat-sea
    font-size: 16px
    margin-left: 16px
    position: relative
    &::after
      content: ''
      display: inline-block
      width: 7px
      height: 11px
      margin-left: 4px
      background-size: cover
      background-repeat: no-repeat
      background-image: url(../images/price-old.svg)
    &::before
      content: ''
      width: 100%
      height: 1px
      background-color: $sea
      position: absolute
      top: 50%
      transform: rotate(-10deg)
      z-index: 10

.arrows
  display: flex
  margin: 40px auto 0 auto
  gap: 48px
  width: max-content

.arrow
  width: 48px
  height: 48px
  background-size: cover
  background-repeat: no-repeat
  transition: .3s
  &:hover
    opacity: 90%

  &-left
    background-image: url(../images/arrow-left.svg)
  &-right
    background-image: url(../images/arrow-right.svg)

.promotion
  position: relative
  &::after
    content: ''
    display: block
    width: 100%
    height: calc(100% - 100px)
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08)
    position: absolute
    left: 0
    top: 100px
    z-index: -2
  &__title
    margin: 262px 0 48px 0
    max-width: 810px
  &__btn
    width: 230px
    height: 48px
  &__img-container
    display: flex
    position: relative
    flex-grow: 1
    &::before
      content: ""
      height: 620px
      width: 950px
      background-image: url(../images/promotion-bg.png)
      background-size: cover
      background-repeat: no-repeat
      position: absolute
      bottom: 0
      left: -300px
      z-index: -1
  &__img
    margin-top: 40px

.about
  &__title
    font-size: 48px
    line-height: 58px
    display: flex
    max-width: 966px
    margin: 0 auto
    margin-bottom: 64px

  &__list
    display: flex
    gap: 24px
    flex-wrap: wrap
    padding: 0
    margin: 0
  &__item
    display: flex
    flex-direction: column
    width: 346px
    height: 296px
    padding: 48px 23px 23px 23px
    align-items: center
    border: 1px solid $blue
    border-radius: 12px
    &:nth-child(1n)
      .about__item-num
        background-image: url(../images/about-item-bg1.svg)
    &:nth-child(2n)
      .about__item-num
        background-image: url(../images/about-item-bg2.svg)
    &:nth-child(3n)
      .about__item-num
        background-image: url(../images/about-item-bg3.svg)
    &:nth-child(4n)
      .about__item-num
        background-image: url(../images/about-item-bg4.svg)

  &__item-num
    display: flex
    font-family: "Balsamiq Sans", sans-serif
    justify-content: center
    align-items: center
    color: $white
    font-size: 48px
    width: 80px
    height: 80px
    background-size: cover
    background-repeat: no-repeat
    margin-bottom: 32px
  &__text
    @include montserrat-sea
    font-size: 24px
    text-align: center

.partners
  &__container
    display: flex
    justify-content: space-between
  &__logos
    display: flex
    gap: 70px

.footer
  padding: 56px 0 32px 0
  &__container
    display: grid
    grid-template-columns: auto max-content
    grid-template-rows: max-content auto

  &__top
    display: flex

  &__logo
    display: flex
    align-items: center
    height: max-content
    gap: 16px
  &__links
    display: flex
    margin: 0
    padding: 0
    gap: 95px
    padding: 0
  &__links-column
    display: flex
    flex-direction: column
    gap: 16px
    padding: 0

  &__social
    flex-direction: row
    margin: 0
    padding: 0
    margin-top: 16px
  &__link,
  &__links-title
    @include montserrat-sea
    font-size: 18px

  &__copyright,
  &__user-agreement
    margin-top: 40px
    @include montserrat-sea
    font-size: 16px
    opacity: 72%