@mixin montserrat-white
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  line-height: 100%
  font-size: 18px
  color: $white

@mixin montserrat-sea
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  line-height: 100%
  font-size: 18px
  color: $sea

@mixin montserrat-blue
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  line-height: 18px
  font-size: 28px
  color: $blue

@mixin balsamiq-sea
  font-family: 'Balsamiq Sans', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 22px
  letter-spacing: 2%

@mixin balsamiq-sea
  font-family: 'Balsamiq Sans', sans-serif
  font-weight: 400
  font-size: 18px
  line-height: 28px
  letter-spacing: .2em
